body, .body {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    background-color: rgb(77, 139, 115);
  }

/* .colu {
    font-size: 25px;
    margin-bottom: 0;
    margin: 2px;
} */

.gray {
    color: darkgray;
}

.headerArt {
    display: flex;
    justify-content: center;

}

.searchContainer {
    display: block;
    padding: 20px;
    margin: 20px;
    float: center;
    border: 12px solid black;
    border-radius: 10px;
    width: 30%;
}

.dayContainer {
    display: block;
    margin-left: 10px;
    width: 50%;
    float: right;
    margin: 20px;
    padding: 20px;
    border: 12px solid black;
    border-radius: 10px;
}

.fiveDayContainer {
    display: block;
    width: 60%;
    float: center;
    margin: 20px;
    padding: 20px;
    border: 12px solid black;
    border-radius: 10px;
}

.float {
    float:right;
    margin: 10px;
}

.city {
    font-size: 20px;
}

.col {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(240, 225, 225);
    border-radius: 10px;
}


.color {
    color: white;
    background-color: rgb(22, 22, 102);
    border: 12px solid rgb(22, 22, 102);
    border-radius: 10px;
}

#submitBtn {
  font-family: 'Oswald', sans-serif;
  font-size:14px;
  color:white;
  background-color: rgb(22, 22, 102);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

#clearBtn {
    font-family: 'Oswald', sans-serif;
    font-size:14px;
    color:white;
    background-color: rgb(22, 22, 102);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

.UVBtnMild {
    font-family: 'Oswald', sans-serif;
    font-size:14px;
    background-color: rgb(241, 241, 86);
    height: 24px;
    text-align: center;
  }

  .UVBtnModerate {
    font-family: 'Oswald', sans-serif;
    font-size:14px;
    background-color: rgb(180, 76, 57);
    height: 24px;
    text-align: center;
  }

  .UVBtnSevere {
    font-family: 'Oswald', sans-serif;
    font-size:14px;
    background-color: rgb(194, 23, 23);
    color: white;
    height: 24px;
    text-align: center;
  }  

.hide {
    display: none;
}